<h1>1.A Revolução dos Bichos</h1>
<p>Autor: George Orwell</p>
<p>Nota: 4</p>
<p>Descrição: Uma fábula política onde animais tomam uma fazenda e estabelecem um regime que promete igualdade, mas acaba se tornando uma ditadura.</p>
<br>

<h1>2.Sapiens: Uma Breve História da Humanidade</h1>
<p>Autor: Yuval Noah Harari</p>
<p>Nota: 5</p>
<p>Descrição: Uma jornada pelo desenvolvimento da humanidade, desde os primeiros Homo sapiens até a sociedade moderna, explorando ciência, economia e história.</p>
<br>

<h1>3.O Pequeno Príncipe</h1>
<p>Autor: Antoine de Saint-Exupéry</p>
<p>Nota: 4</p>
<p>Descrição: Uma história poética sobre um pequeno príncipe que viaja por planetas e questiona o sentido da vida, trazendo lições sobre amizade e amor.</p>
<br>

<h1>4.Dom Casmurro</h1>
<p>Autor: Machado de Assis</p>
<p>Nota: 4</p>
<p>Descrição: Clássico da literatura brasileira que narra a história de Bentinho e sua relação com Capitu, marcada por dúvidas sobre amor e traição.</p>
<br>

<h1>5. A Arte da Guerra</h1>
<p>Autor: Sun Tzu</p>
<p>Nota: 3</p>
<p>Descrição: Manual estratégico com ensinamentos sobre tática e liderança, aplicáveis não apenas em batalhas, mas também na vida e nos negócios.</p>

